.navbar-nav  {
    margin-left: 20px
}

.bro-content {
    margin: 20px;
    padding: 10px;
}

.bro-players, .bro-awards {
    background-color: #f9fbf9;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

.bro-players > .table, .bro-awards > .table {
    margin-bottom: 0;
}