.bro-nav {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.navbar-nav  {
    margin-left: 20px;
}

.bro-content {
    margin: 20px;
    padding: 10px;
}

.bro-home {
    background-color: #e9f0e9;
    border-radius: 10px;
    border: 2px solid rgb(47, 47, 47);
    padding: 20px;
    margin: auto;
}

.bro-players, .bro-awards, .bro-form, .bro-player-awards, .bro-comment, .bro-welcome, .bro-profile, .bro-form.col {
    background-color: #f9fcff;
    border-radius: 10px;
    border: 2px solid rgb(53, 53, 53);
    padding: 10px;
    width: 42em;
    margin: auto;
    box-shadow: 1px 1px 3px black, 0 0 5px gray, 0 0 2px white;
}

.bro-players, .bro-awards, .bro-form, .bro-player-awards, .bro-comment, .bro-welcome {
    width: 42em;
    margin: auto;
}

.bro-comment {
    text-align: center;
}

.bro-comment, .bro-welcome {
    margin-bottom: 5px;
    background-color: #ffe036;
}

.bro-players > .table, .bro-awards > .table {
    margin-bottom: 0;
    margin: auto;
    width: 40em;
}

.bro-player > .card {
    margin: auto;
}

.bro-avatar {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 10px;
}


